.button {
  display: block;
  min-width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--bcg-button);
  }
}
