.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
            padding-top: 94px;
                padding-bottom: 94px;
        }    
}

.section__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    color: var(--title-text-color);
    line-height: 1.17;

@media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    }
}

.section__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    list-style: none;
}