.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section__title {
    margin-bottom: 50px;
    text-align: center;
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.17;
}

.section__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    list-style: none;
}