:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-color: #ffffff;
    --logo-color: #000000;
    --bcg-color: #f5f4fa;
    --footer-color: rgba(255, 255, 255, 0.6);
    --bcg-footer: rgba(47, 48, 58, 1);
    --bcg-button: #188ce8;
    --hero-grad: rgba(47, 48, 58, 0.4);
}