.feature__item {
    width: 270px;
}

.feature__icon {
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background: var(--bcg-color);
    border-radius: 4px;
}

.feature__svg {
    width: 70px;
    height: 70px;
}

.feature__title {
    margin-bottom: 10px;
    color: var(--title-text-color);
    line-height: 1.14;
    text-transform: uppercase;
}

.feature__text {
    line-height: 1.71;
}