.team {
    background-color: var(--bcg-color);
}

.team__item {
    width: 270px;
    background: var(--primary-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__card {
    padding-top: 30px;
    padding-bottom: 16px;
}

.team__text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team__text--name {
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 500;
}